<%- include('./templates/layout', { body: `


    <a href="/Entrevista/todas">
        <button type="button" class="btn btn-primary">Mostrar todos las entrevista</button>
    </a>

    <a href="/Entrevista/Agregar">
    <button type="button" class="btn btn-primary">Agregar Entrevista</button>
    </a>
    ` }) %>